* {
    margin: 0;
    padding: 0;
}

body {
    color: antiquewhite;
    font-family: sans-serif;
    margin-top: 100px;
}

.main-container {
    width: 800px;
    height: 600px;
    background-color: skyblue;
    margin: auto;
}

p {
    font-size: 30px;
    padding-top: 5px;
}

.header {
    width: 95%;
    height: 60px;
    background-color: #2cbda0;
    margin-left: 20px;
    text-align: center;
    position: relative;
    top: 22px;
}

.box {
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 500px;

}

h2 {
    margin-top: 200px;
}

.left {
    margin-top: 50px;
    background-color: green;
    width: 200px;

}

.right {
    margin-top: 50px;
    width: 520px;
    background-color: rgb(243, 153, 93);

}

.box-right {
    display: flex;
    justify-content: center;
}

.box-1 {
    text-align: center;
    margin: 4px;
    width: 160px;
    height: 160px;
    background-color: #E8BD0D;

}

.box-2 {
    text-align: center;
    margin: 4px;
    width: 160px;
    height: 160px;
    background-color: #E8BD0D;

}

.box-3 {
    text-align: center;
    margin: 4px;
    width: 160px;
    height: 160px;
    background-color: #E8BD0D;

}

h1 {
    margin-top: 60px;
}